.register-password, .email, .name {
    display: inline-block;
    /*position: relative;*/
    margin: 5px 0 22px 0;
    padding: 15px;
    width: 100%;
    background: #f1f1f1;
    border: none;
    /*box-shadow: inset #ddd 0 0 40px 10px,*/
    /*#ddd 0 0 24px 12px;*/
    /*z-index: -2;*/
    box-shadow: -10px 5px 5px 2px #ddd;
}

.mistake-email, .mistake-repeat-password, .mistake-register-password, .mistake-name {
    display: inline-block;
    margin: 5px 0 22px 0;
    padding: 15px;
    width: 100%;
    /*border: 1px solid #f44336;*/
    border: none;
    background: #e8d4d7;
    box-shadow: -10px 5px 5px 2px #ddd;
}

.email:focus, .register-password:focus, .name:focus {
    outline: none;
}

label[for=email], label[for=psw], label[for=psw-repeat], label[for=remember], label[for=name]{
    color: #000;
    font-weight: bold;
}
.register-password {
    width: 93%;
    height: 100%;
    margin-top: 0;
}

.mistake-repeat-password, .mistake-register-password {
    height: 50px;
    width: 100%;
    margin-top: 0;
    border: none;
}
.block-password {
    display: flex;
    background: #f1f1f1;
    height: 50px;
    margin-bottom: 22px;
    /*box-shadow: inset #ddd 0 0 40px 10px,*/
    /*#ddd 0 0 24px 12px;*/
    box-shadow: -10px 5px 5px 2px #ddd;
}

.block-password-error {
    display: flex;
    background: #e8d4d7;
    height: 50px;
    margin-bottom: 22px;
}

.eye {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 62%;
    width: 55px;
    height: 23px;
}

.eye-on {
    background-image: url("https://img.icons8.com/officexs/72/visible.png");
}

.eye-off {
    background-image: url("https://img.icons8.com/officexs/72/invisible.png");
}

hr {
    margin-bottom: 25px;
    border: 1px solid #f1f1f1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.register-btn {
    margin: 8px 0;
    padding: 14px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.register-btn:hover {
    opacity: 1;
}

.cancel-btn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancel-btn, .sign-up-btn {
    float: left;
    width: 50%;
}

@media screen and (max-width: 525px) {

    .register-container {
        font-size: 22px;
    }

    .cancel-btn, .sign-up-btn {
        width: 100%;
    }
}

.error-message {
    display: none;
    color: red;
}

.message {
    display: block;
    color: red;
    font-weight: bold;
}

