.login, .password {
    display: inline-block;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 100%;
    background: #f1f1f1;
    border: none;
    box-shadow: -10px 5px 5px 2px #ddd;
    height: 50px;
}

.mistake-login, .mistake-password {
    display: inline-block;
    padding: 12px 20px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: #e8d4d7;
    box-shadow: -10px 5px 5px 2px #ddd;
    height: 50px;
}

.block-password-sign-in {
    display: flex;
    background: #f1f1f1;
    height: 50px;
    margin-bottom: 22px;
    box-shadow: -10px 5px 5px 2px #ddd;
}

.imgcontainer {
    margin: 24px 0 12px 0;
    text-align: center;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    animation: spin 30s linear 0s infinite;
}

.field-text {
    margin-bottom: 20px;
}



