.register-container {
    /*color: #000;*/
}

.register-password, .email, .name {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.email:focus, .register-password:focus, .name:focus {
    background-color: #ddd;
    outline: none;
}

label[for=email], label[for=psw], label[for=psw-repeat], label[for=remember], label[for=name]{
    color: #000;
    font-weight: bold;
}



hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.register-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.register-btn:hover {
    opacity: 1;
}

.cancel-btn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancel-btn, .sign-up-btn {
    float: left;
    width: 50%;
}

@media screen and (max-width: 300px) {

}

@media screen and (max-width: 525px) {

    .register-container {
        font-size: 22px;
    }

    .cancel-btn, .sign-up-btn {
        width: 100%;
    }
}

